.forumList {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.forumDetail {
  display: flex;
  flex: 2;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.forum_box {
  border-radius: 0.3rem;
  background-color: #404040;
  display: flex;
  flex-direction: row;
  min-height: 8rem;
  width: 100%;
  margin-bottom: 1rem;
  box-shadow: 3px 3px 9px 0px #202020;
  align-items: center;
  border-left: 1rem solid darkgoldenrod;
  padding: 3rem;
  font-size: 2rem;
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
