.title {
  color: #404040;
  font-family: "Ubuntu-Bold";
  width: 100%;
  text-align: left;
  font-size: 2rem;
  padding: 1rem 0rem;
  display: flex;
  justify-content: space-between;
}

.title_item {
  width: fit-content;
}
.description {
  font-size: 1.5rem;
  padding: 1rem 0rem;
  font-family: "Ubuntu-Light";
}

.forumList {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  /* border: 0.2rem solid #404040; */
  padding: 2rem;
  border: 0.2rem solid #d1d1d1;
}

.forumDetail {
  display: flex;
  flex: 2;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  background-color: #f6f6f6;
  font-size: 2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* detail */
.forum_detail_header {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  box-shadow: 0px 0px 9px 0px rgba(179, 179, 179, 1);
  min-height: 5rem;
  width: 100%;
  padding: 2rem;
  align-items: flex-start;
  border-left: 1rem solid darkturquoise;
}
.forum_detail_title {
  color: #29559d;
  font-family: "Ubuntu-Bold";
  width: 100%;
  text-align: left;
  font-size: 3rem;
  padding: 1rem 0rem;
}

.forum_detail_tags {
  display: flex;
  padding: 1rem;
}

.forum_detail_username {
  display: flex;
  padding: 1rem;
}

.forum_detail_description {
  display: flex;
  border-top: 0.1rem solid #d1d1d1;
  padding: 1rem;
  width: 100%;
}

.comments {
  width: 100%;
}

.comments_title {
  display: flex;
  width: 100%;
  background: #29559d;
  padding: 1rem 2rem;
  color: white;
  font-family: "Ubuntu-Bold";
}

.comment_box {
  width: 100%;
  background-color: white;
  display: flex;
  padding: 3rem;
}
