.navbar {
  background-color: #29559d;
  display: flex;
  min-height: 8rem;
  align-items: center;
  color: white;
  justify-content: flex-start;
  font-size: 2rem;
  font-family: "Ubuntu-Bold";
  padding: 2rem;
}
.navbar-title {
  color: white !important;
  display: flex;
  flex: 1;
}
